In [17]:
import random
import csv
import pandas as pd

In [11]:
set_of_combinations = list([
    # nl
    'NL T1 Single SI',
    'NL T1 Single JP',
    'NL T1 Single AN',
    'NL T1 Single TL',
    'NL T2 Single SI',
    'NL T2 Single JP',
    'NL T2 Single AN',
    'NL T2 Single TL',
    'NL T3 Single SI',
    'NL T3 Single JP',
    'NL T3 Single AN',
    'NL T3 Single TL',
    'NL T1 Clique SI',
    'NL T1 Clique JP',
    'NL T1 Clique AN',
    'NL T1 Clique TL',
    'NL T2 Clique SI',
    'NL T2 Clique JP',
    'NL T2 Clique AN',
    'NL T2 Clique TL',
    'NL T3 Clique SI',
    'NL T3 Clique JP',
    'NL T3 Clique AN',
    'NL T3 Clique TL',
    #matrices
    'M T1 Single SI',
    'M T1 Single JP',
    'M T1 Single AN',
    'M T1 Single TL',
    'M T2 Single SI',
    'M T2 Single JP',
    'M T2 Single AN',
    'M T2 Single TL',
    'M T3 Single SI',
    'M T3 Single JP',
    'M T3 Single AN',
    'M T3 Single TL',
    'M T1 Clique SI',
    'M T1 Clique JP',
    'M T1 Clique AN',
    'M T1 Clique TL',
    'M T2 Clique SI',
    'M T2 Clique JP',
    'M T2 Clique AN',
    'M T2 Clique TL',
    'M T3 Clique SI',
    'M T3 Clique JP',
    'M T3 Clique AN',
    'M T3 Clique TL',
])

In [6]:
print(len(set_of_combinations))

48

In [15]:
random.shuffle(set_of_combinations) # math.random()
print(set_of_combinations)

['NL T2 Clique TL', 'M T2 Clique JP', 'M T2 Single SI', 'M T1 Single SI', 'NL T1 Clique JP', 'NL T2 Single TL', 'M T1 Clique SI', 'NL T1 Clique TL', 'NL T3 Clique AN', 'M T1 Clique TL', 'M T1 Clique AN', 'NL T3 Clique JP', 'M T1 Single JP', 'NL T1 Single JP', 'M T2 Single TL', 'NL T2 Single AN', 'NL T1 Single SI', 'M T3 Single SI', 'M T3 Single AN', 'NL T3 Clique SI', 'M T2 Clique AN', 'NL T1 Single TL', 'M T3 Single TL', 'M T2 Clique SI', 'M T2 Single JP', 'NL T3 Single JP', 'NL T1 Clique SI', 'M T1 Single AN', 'NL T2 Single SI', 'NL T3 Single SI', 'M T3 Clique SI', 'M T1 Single TL', 'M T3 Clique TL', 'NL T2 Single JP', 'NL T3 Clique TL', 'NL T3 Single TL', 'M T2 Single AN', 'M T3 Clique AN', 'NL T2 Clique JP', 'M T3 Clique JP', 'NL T1 Clique AN', 'NL T3 Single AN', 'NL T1 Single AN', 'NL T2 Clique SI', 'NL T2 Clique AN', 'M T3 Single JP', 'M T2 Clique TL', 'M T1 Clique JP']

In [18]:
# write to csv
df = pd.DataFrame(set_of_combinations)
# saving the dataframe 
df.to_csv('tasks.csv')